.message-display-wrapper{
  background: url(../../images/bg.webp);
  background-attachment: fixed;
  background-size: 700px auto;
  min-height:100vh;
  padding:20px;
  display: flex;
  flex-direction: column;
  gap:30px;
}
.message{
  position: relative;
  background:rgba(255,255,255,1);
  max-width:fit-content;
  min-width: min-content;
  padding:20px;
  border-radius: 20px;
  font-size: 2rem;
  /* color:#3e97c9; */
  font-weight: 500;
  
}
.message::before{
  content: "";
  position: absolute;
  bottom: 0;
  left:-2.5px;
  right:0;
  width:20px;
  height:20px;
  background-color: white;
  border-radius: 20px;
}

