.loading-wrapper{
  width:100%;
  height:100vh;
  background-image: url(./images/undraw_around_the_world_re_rb1p.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0.9);
  background-blend-mode: color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.loading-wrapper>h1{
  color:#008282;
  font-size: 2rem;
}
.loading-icon{
  font-size: 2rem;
  color:white;
  animation: loading-animation 1s infinite;
}
@keyframes loading-animation{
  to{
    transform: rotate(360deg);
  }
}